.sorter {
    &__container {
        display: flex;
        gap: 0.5rem;
        width: fit-content;
    }

    &__sign {
        width: 10rem;
    }

    &__rating {
        width: 10rem;
    }
}

@media screen and (max-width: 500px) {
    :host {
        width: 100%;
    }

    .sorter {
    &__container {
        width: 100%;
        flex-direction: column;
    }

    &__sign {
        width: 100%;
    }

    &__rating {
        width: 100%;
    }
}


    
}