:host {
    min-height: var(--footer_height);
    display: flex;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    min-height: var(--footer_height);
    box-shadow: var(--tui-shadow-small);
    border-top: 1px solid var(--tui-border-normal);
    background: color-mix(in srgb, var(--tui-background-base), transparent 50%);

    &__time-period {
        color: var(--tui-text-02);
    }

    &__founder {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        a {
            color: var(--tui-text-02);
            font-weight: bold;
        }

        a:hover {
            color: var(--tui-text-01);
        }
    }
}

.text {
    color: var(--tui-text-secondary);
}