.content {
    display: flex;
    justify-content: center;
    min-height: calc(var(--tui-viewport-height) - (var(--header_height) + var(--footer_height)));
    

    &__view-port_width {
        width: 100%;
        overflow: hidden !important;
        padding: 1.5rem 10rem 0rem;
    }
}
  
.footer {
    flex-shrink: 0;
    width: 100%;
}

@media screen and (max-width: 500px) {
   .content__view-port_width {
        padding: 1.5rem 1.5rem 0rem;
   } 
} 