<div class="comments__container">
  <div class="comments__title">Комментарии</div> 

  @for (comment of comments(); track $index) {
    <tui-tree
      [childrenHandler]="handler"
      [content]="content"
      [tuiTreeController]="true"
      [value]="comment"
    />
  }

  <ng-template #content let-node="node" let-value>
    <div class="comments__comment">
      <tui-badge appearance="neutral" iconStart="@tui.user" size="xl">{{ value.author }}</tui-badge>
      <div class="" [innerHTML]="value.text"></div>
    </div>
  </ng-template>
</div>
