.comments {
    &__title {
        font: var(--tui-font-heading-4);
        margin-bottom: 2rem;
    }

    &__comment {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        margin-bottom: 1rem;
    }
}