<div class="error-page__container h-100">
  <div class="error-page__image-container">
    <div class="error-page__tooltip-container">
      <div class="error-page__tooltip">Где новости?</div>
      <button
        appearance="secondary"
        iconStart="@tui.house"
        tuiButton
        type="button"
        (click)="redirectToHome()"
      >
        На Главную
      </button>
    </div>

    <img class="error-page__image" src="sevtech-test/assets/gif/error.gif" alt="error" />
  </div>
</div>
